<div class="container">
  <input type="text" #input />
  <button (click)="OnSubmit(input)">Submit</button>
  <app-demo [value]="inputText" *ngIf="destroy">
    <h4>This is projected content {{ inputText }}</h4>
  </app-demo>

  <br />
  <button (click)="DestroyComponent()">Destroy</button>

  <br />
  <!-- <div *ngIf="destroy; else elseBlock">
    Content to display when the condition is true.
  </div>
  <ng-template #elseBlock>
    Content to display when the condition is false.
  </ng-template> -->
</div>
